<br>
<hr>
<footer class="page-footer font-small blue">

    <div style="color: #737e87" class="footer-copyright text-center py-3">© 2020 Copyright: Rafa - Wilyer - Elimer
    </div>

</footer>
</body>

</html>