<br>
<hr>
<footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3" style="color: #737e87;">© 2020 Copyright: Rafa - Wilyer - Elimer
    </div>

</footer>
</body>

</html>